[target.'cfg(all(target_arch = "arm", target_os = "none"))']
# to get probe id: `probe-run --list-probes`
# runner = "probe-run --probe C296C294070132124647524B4E00 --chip STM32F103C8"
runner = "probe-run --probe 15003200090000524A51544E --chip STM32F103RE"
rustflags = [
  "-C", "linker=flip-link",
  "-C", "link-arg=-Tlink.x",
  "-C", "link-arg=-Tdefmt.x",
  # This is needed if your flash or ram addresses are not aligned to 0x10000 in memory.x
  # See https://github.com/rust-embedded/cortex-m-quickstart/pull/95
  "-C", "link-arg=--nmagic",
]

[build]
target = "thumbv7m-none-eabi"    # Cortex-M3

[alias]
rmain = "run --bin drawer-robot"
rb = "run --bin"
rrb = "run --release --bin"
bbr = "build --release --bin"
